.header {
  width: 100%;
  display: flex;
  background-color: #146C94;
}

.list {
  width: 100%;
  display: flex;
  padding: 1rem;
  justify-content: space-around;
  list-style: none;
}

.list a {
  color: white;
  text-shadow: white;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  text-decoration: none;
  font-size: x-large
}

.list a:hover,
.list a:active,
.list a.active {
  color: #AFD3E2;
  text-decoration: none;
}
.list a.active{
  font-weight: bold;
}